<%-include('header')-%>
  <div class="text-center mt-5">
    <div class="container w-25 border bg-light rounded pb-4 pt-3">
      <form action="/route/signup" method="post">
        <div class="text-center">
          <h1 class="text-primary fs-1">Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>

          
          <input class="rounded border px-4 py-2 my-3 border-primary" autocomplete="off" type="text" placeholder="Enter your Full name" name="name" id="name" required><br>

          
          <input class="rounded border px-4 py-2 my-3 border-primary" type="text" placeholder="Enter Email Address" name="email" id="email" required><br>


          <input class="rounded border px-4 py-2 my-3 border-primary" type="number" placeholder="Enter Mobile number" name="phone" id="phone" required><br>

         
          <input class="rounded border px-4 py-2 my-3 border-primary" type="password" placeholder="Enter Password" name="password" id="password" required><br>
          <hr>


          <button type="submit" class="btn btn-primary px-5 fs-4">Sign Up</button>
          <div class="container signin">
          </div>
        </div>



      </form>
    </div>
  </div>
  <%-include('footer')-%>
